@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway";
  background-color: #f693f0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

main {
  width: 500px;
  height: auto;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main h1 {
  text-align: center;
  font-size: 50px;
  font-style: italic;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #f693f0;
}

main time {
  background-color: #e4e3e1;
  border-radius: 5px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #f693f0;
  font-weight: bold;
  width: 90%;
  align-self: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}

form label {
  font-weight: 500;
  margin-bottom: 10px;
}

form div select {
  outline: none;
  border: 2px solid #e4e3e1;
  padding: 5px 10px;
  border-radius: 5px;
  font-family: inherit;
}

section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #e4e3e1;
  border-radius: 5px;
  color: #f693f0;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;
  gap: 20px;
}

section button {
  background-color: #f693f0;
  border: none;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
}

section p {
  font-size: 50px;
  font-weight: bold;
  margin-top: 10px;
  color: #f693f0;
}
